@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800;900&family=Share+Tech+Mono&display=swap');

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(216, 216, 216);
  border-radius: 40px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #0F172A;
  font-family: 'Share Tech Mono', monospace;
}

.outline-text {
  color: #E35A44;
  -webkit-text-stroke: 0.5px #E35A44;
  -webkit-text-fill-color: transparent;
}

.textarea {
  resize: none;
}
