@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&family=Oswald:wght@600&display=swap');

:root {
  --base: #d63d51;
  --light: #d2bdc2;
  --dark: #262550;
  --mid: #57555b;
  --error: #c12110;
  --success: #18a73e;
  --base-font: 'Montserrat', sans-serif;
  --bold-font: 'Oswald', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  background: url('/assets/eth.svg') var(--dark) no-repeat center/cover;
  background-size: 50% 80%;
  background-blend-mode: exclusion;
  font-family: var(--base-font);
  overflow-y: hidden;
}

a {
  text-decoration: none;
}

h1, h2, h3,
h4, h5, h6 {
  font-family: var(--bold-font);
}