@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&family=Rakkas&display=swap');

:root {
  --base: #d63d51;
  --alt: #b328a7;
  --light: #d2bdc2;
  --dark: #262550;
  --error: #;
  --success: #;
  --base-font: 'Montserrat', sans-serif;
  --bold-font: 'Rakkas', cursive;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--base-font);
}

h1, h2, h3,
h4, h5, h6 {
  font-family: var(--bold-font);
}